.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.3s ease-in;
  }
  
  .slide {
    flex: 0 0 53.53%;
     /* Adjust this value based on the number of slides you want to display */
    padding: 10px;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }